{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load tz %}
{% load track_custom_utils %}

{% block pagetitle %}Voz Running Club{% endblock %}

{% block body %}
    <div class="container my-4">
        <div class="mb-4">
            <div>
                <div>
                    <h3>Leaderboard
                        {% if is_this_week %}
                            (this week)
                        {% elif is_last_week %}
                            (last week)
                        {% else %}
                            ({{ requested_week_start|date:"d/m/Y" }} - {{ requested_week_end|date:"d/m/Y" }})
                        {% endif %}
                    </h3>
                    <p>
                        {% get_current_timezone as TIME_ZONE %}
                        {% timezone TIME_ZONE %}
                            <span class="text-secondary">
                                <span>Last updated:</span>
                                <span id="last-updated-time">
                                    {{ last_updated|naturaltime }}
                                </span>
                                {% if is_this_week %}
                                    <span>(automatically refreshed every 10 minutes)</span>
                                {% endif %}
                            </span>
                        {% endtimezone %}
                    </p>
                </div>
            </div>
        </div>


        <div class="mb-4">
            <label for="select-week" class="form-label">Select week</label>
            <select id="select-week" class="form-select" aria-label="Select week" onchange="changeWeek()">
                {% for key, value in available_weeks.items %}
                    {% if key.0 == requested_year and key.1 == requested_week_num %}
                        <option value="{{ key.0 }}-{{ key.1 }}" selected>{{ value }}</option>
                    {% else %}
                        <option value="{{ key.0 }}-{{ key.1 }}">{{ value }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="mb-4">
            <h4>Week summary</h4>
            <div>
                <ul>
                    <li>
                        <span class="fw-bold">Total runs:</span>
                        <span>{{ week_summary.total_runs }}</span>
                    </li>
                    <li>
                        <span class="fw-bold">Total distance:</span>
                        <span>{{ week_summary.total_distance|floatformat:1 }} km</span>
                    </li>
                    <li>
                        <span class="fw-bold">Completed challenges:</span>
                        <span>{{ week_summary.completed_challenges }} / {{ week_summary.total_challenges }} registrations</span>
                    </li>
                    <li>
                        <span class="fw-bold">Total donation:</span>
                        <span>{{ week_summary.total_donation|floatformat:"g" }} ₫</span>
                    </li>
                    {% if actual_donation %}
                        <li>
                            <span class="fw-bold bg-success p-1 rounded text-white">Actual donation:</span>
                            <span>{{ actual_donation.amount|floatformat:"g" }} ₫</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% if weekly_post and weekly_post.post %}
                <div>
                    <div>
                        <button class="btn btn-sm btn-outline-success"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-transaction" aria-expanded="false"
                                aria-controls="collapse-transaction" title="Show transaction">
                            <span>Transactions</span>
                            <i class="fas fa-chevron-down"></i>
                        </button>
                    </div>
                    <div id="collapse-transaction" class="mt-3 collapse">
                        {{ weekly_post.post|safe }}
                    </div>
                </div>
            {% endif %}
        </div>

        <div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-all-runners-tab" data-bs-toggle="pill"
                            data-bs-target="#all-runners-leaderboard"
                            type="button" role="tab" aria-controls="all-runners-leaderboard" aria-selected="true">
                        All runners ({{ requested_week_data|length }})
                    </button>
                </li>
                {% for reg_dis, data in reg_map.items %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-{{ reg_dis }}-km-runners-tab" data-bs-toggle="pill"
                                data-bs-target="#{{ reg_dis }}-km-runners-leaderboard"
                                type="button" role="tab" aria-controls="{{ reg_dis }}-km-runners-leaderboard"
                                aria-selected="false">
                            {% if reg_dis == 0 %}
                                Not registered
                            {% else %}
                                {{ reg_dis }} km
                            {% endif %}
                            ({{ data|length }})
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="all-runners-leaderboard" role="tabpanel"
                 aria-labelledby="pills-all-runners-tab"
                 tabindex="0">
                {% include "weeklyTracking/leaderboard_table.html" with data=requested_week_data club_status=is_this_week %}
            </div>
            {% for reg_dis, data in reg_map.items %}
                <div class="tab-pane fade" id="{{ reg_dis }}-km-runners-leaderboard" role="tabpanel"
                     aria-labelledby="pills-{{ reg_dis }}-km-runners-tab"
                     tabindex="0">
                    {% include "weeklyTracking/leaderboard_table.html" with data=data club_status=is_this_week %}
                </div>
            {% endfor %}
        </div>
    </div>
    {#    {% csrf_token %}#}

    <div id="spinner-wrapper" class="d-none">
        <div class="loading">Loading&#8230;</div>
    </div>

    <script>
        if (localStorage.getItem("user_strava_refresh_token")) {
            $("#join-panel").hide();
        }

        function changeWeek() {
            let selectedWeek = document.getElementById("select-week").value;
            let newYear = selectedWeek.split("-")[0];
            let newWeekNum = selectedWeek.split("-")[1];
            location.replace("{% url 'leaderboard' %}?year=" + newYear + "&week=" + newWeekNum);
        }

        function showSpinner() {
            document.getElementById("spinner-wrapper").classList.remove("d-none");
        }

        function hideSpinner() {
            document.getElementById("spinner-wrapper").classList.add("d-none");
        }
    </script>
    {#    {% if request.user.is_authenticated %}#}
    {#        <script>#}
    {##}
    {#            axios.defaults.xsrfCookieName = 'csrftoken';#}
    {#            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";#}
    {##}
    {#            async function updateLeaderboard() {#}
    {#                showSpinner();#}
    {#                await axios.post("{% url 'update-leaderboard' %}")#}
    {#                    .then(function (response) {#}
    {#                        if (response.data.status === "success") {#}
    {#                            location.reload();#}
    {#                        } else {#}
    {#                            alert("Error updating leaderboard: " + response.data.message);#}
    {#                            hideSpinner();#}
    {#                        }#}
    {#                    })#}
    {#                    .catch(function (error) {#}
    {#                        alert("Error updating leaderboard: " + error);#}
    {#                        hideSpinner();#}
    {#                    });#}
    {#            }#}
    {#        </script>#}
    {#    {% endif %}#}

    <script>
        const MONTH_NAMES = [
            'January', 'February', 'March', 'April', 'May', 'June',
            'July', 'August', 'September', 'October', 'November', 'December'
        ];


        function getFormattedDate(date, preformattedDate = false, hideYear = false) {
            const day = date.getDate();
            const month = MONTH_NAMES[date.getMonth()];
            const year = date.getFullYear();
            const hours = date.getHours();
            let minutes = date.getMinutes();

            if (minutes < 10) {
                // Adding leading zero to minutes
                minutes = `0${minutes}`;
            }

            if (preformattedDate) {
                // Today at 10:20
                // Yesterday at 10:20
                return `${preformattedDate} at ${hours}:${minutes}`;
            }

            if (hideYear) {
                // 10. January at 10:20
                return `${day}. ${month} at ${hours}:${minutes}`;
            }

            // 10. January 2017. at 10:20
            return `${day}. ${month} ${year}. at ${hours}:${minutes}`;
        }


        // --- Main function
        function timeAgo(dateParam) {
            if (!dateParam) {
                return null;
            }

            const date = typeof dateParam === 'object' ? dateParam : new Date(dateParam);
            const DAY_IN_MS = 86400000; // 24 * 60 * 60 * 1000
            const today = new Date();
            const yesterday = new Date(today - DAY_IN_MS);
            const seconds = Math.round((today - date) / 1000);
            const minutes = Math.round(seconds / 60);
            const isToday = today.toDateString() === date.toDateString();
            const isYesterday = yesterday.toDateString() === date.toDateString();
            const isThisYear = today.getFullYear() === date.getFullYear();


            if (seconds < 5) {
                return 'now';
            } else if (seconds < 60) {
                return `${seconds} seconds ago`;
            } else if (seconds < 90) {
                return 'about a minute ago';
            } else if (minutes < 60) {
                return `${minutes} minutes ago`;
            } else if (isToday) {
                return getFormattedDate(date, 'Today'); // Today at 10:20
            } else if (isYesterday) {
                return getFormattedDate(date, 'Yesterday'); // Yesterday at 10:20
            } else if (isThisYear) {
                return getFormattedDate(date, false, true); // 10. January at 10:20
            }

            return getFormattedDate(date); // 10. January 2017. at 10:20
        }

        function updateLastUpdated() {
            let lastUpdated = document.getElementById("last-updated-time");
            lastUpdated.innerText = timeAgo(Date.parse("{{ last_updated|date:'Y-m-d H:m:sO' }}"));
        }

        // Update last updated time every second
        updateLastUpdated();
        setInterval(updateLastUpdated, 1000);

        // Reload page every 10 minutes
        setTimeout(function () {
            location.reload();
        }, 600000);
    </script>
{% endblock %}