{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load tz %}
{% load track_custom_utils %}

{% block pagetitle %}Voz Running Club{% endblock %}

{% block body %}
    <div class="container mb-4">
        <div class="mb-3 row">
            {#            <div class="d-none d-lg-block col-lg-4"></div>#}
            <div class="col col-lg-3 text-center">
                {#                <label for="select-week" class="form-label fw-semibold">Chọn tuần</label>#}
                <select id="select-week" class="form-select" aria-label="Select week" onchange="changeWeek()">
                    {% for key, value in available_weeks.items %}
                        {% if key.0 == requested_year and key.1 == requested_week_num %}
                            <option value="{{ key.0 }}-{{ key.1 }}" selected>{{ value }}</option>
                        {% else %}
                            <option value="{{ key.0 }}-{{ key.1 }}">{{ value }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            {#            <div class="d-none d-lg-block col-lg-4"></div>#}
        </div>

        {#        <div class="mb-5">#}
        {#            <div>#}
        {#                <div class="text-center">#}
        {#                    <span class="h2">#}
        {#                        Xếp hạng#}
        {#                        {% if is_this_week %}#}
        {#                            tuần này#}
        {#                        {% elif is_last_week %}#}
        {#                            tuần trước#}
        {#                        {% else %}#}
        {#                            theo tuần ({{ requested_week_start|date:"d/m/Y" }} - {{ requested_week_end|date:"d/m/Y" }})#}
        {#                        {% endif %}#}
        {#                    </span>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        <div class="row">
            <div class="col col-lg-8">
                <div class="text-center">
                    <h3>Bảng xếp hạng</h3>
                </div>
                <div>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-all-runners-tab" data-bs-toggle="pill"
                                    data-bs-target="#all-runners-leaderboard"
                                    type="button" role="tab" aria-controls="all-runners-leaderboard"
                                    aria-selected="true">
                                Tất cả ({{ requested_week_progresses|length }})
                            </button>
                        </li>
                        {% for reg_dis, data in distance2weekly_progress_list.items %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-{{ reg_dis }}-km-runners-tab" data-bs-toggle="pill"
                                        data-bs-target="#{{ reg_dis }}-km-runners-leaderboard"
                                        type="button" role="tab" aria-controls="{{ reg_dis }}-km-runners-leaderboard"
                                        aria-selected="false">
                                    {% if reg_dis == 0 %}
                                        Không đăng ký
                                    {% else %}
                                        {{ reg_dis }}km
                                    {% endif %}
                                    ({{ data|length }})
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="all-runners-leaderboard" role="tabpanel"
                         aria-labelledby="pills-all-runners-tab"
                         tabindex="0">
                        {% include "weeklyTracking/leaderboard_table.html" with data=requested_week_progresses rank_changes=rank_changes %}
                    </div>
                    {% for reg_dis, data in distance2weekly_progress_list.items %}
                        <div class="tab-pane fade" id="{{ reg_dis }}-km-runners-leaderboard" role="tabpanel"
                             aria-labelledby="pills-{{ reg_dis }}-km-runners-tab"
                             tabindex="0">
                            {% include "weeklyTracking/leaderboard_table.html" with data=data rank_changes=distance2rank_change|get_item:reg_dis %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col mt-4 mt-lg-0 col-lg-4">
                <div class="text-center">
                    <h3>Thống kê tuần</h3>
                    <div class="mt-3">
                        {% get_current_timezone as TIME_ZONE %}
                        {% timezone TIME_ZONE %}
                            <span class="text-secondary">
                                <span>Cập nhật:</span>
                                <span id="last-updated-time">
                                    {{ last_updated|date:"d/m/Y H:i:s" }}
                                </span>
                            </span>
                        {% endtimezone %}
                    </div>
                </div>
                <div class="mt-4">
                    <div class="row">
                        <div class="col-6">
                            <div class="statistic-box">
                                <div class="statistic-value">{{ week_summary.total_runs }}</div>
                                <div class="statistic-title">Tổng lượt chạy</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="statistic-box">
                                <div class="statistic-value">{{ week_summary.total_distance|floatformat:1 }}</div>
                                <div class="statistic-title">Tổng số Km</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="statistic-box">
                                <div class="statistic-value">{{ week_summary.total_challenges }}</div>
                                <div class="statistic-title">Đăng ký cự ly</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="statistic-box">
                                <div class="statistic-value">{{ week_summary.completed_challenges }}</div>
                                <div class="statistic-title">Hoàn thành cự ly</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="statistic-box">
                                <div class="statistic-value">{{ week_summary.total_donation|intcomma }}</div>
                                <div class="statistic-title">Đóng góp ước tính (₫)</div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="statistic-box">
                                <div class="statistic-value">
                                    {% if actual_donation %}
                                        {{ actual_donation.amount|intcomma }}
                                    {% else %}
                                        --
                                    {% endif %}
                                </div>
                                <div class="statistic-title">Đóng góp thực tế (₫)</div>
                                {#                                    {% if donation_diff > 0 %}#}
                                {#                                        <span class="text-success">(+{{ donation_diff|intcomma }} ₫)</span>#}
                                {#                                    {% else %}#}
                                {#                                        <span class="text-danger">({{ donation_diff|intcomma }} ₫)</span>#}
                                {#                                    {% endif %}#}
                            </div>
                        </div>
                    </div>
                </div>
                {% if weekly_post and weekly_post.post %}
                    <div class="weekly-post">
                        {#                        <div>#}
                        {#                            <a class="text-primary"#}
                        {#                               type="button" data-bs-toggle="collapse"#}
                        {#                               data-bs-target="#collapse-transaction" aria-expanded="false"#}
                        {#                               aria-controls="collapse-transaction" title="Show transaction">#}
                        {#                                <span>Chi tiết</span>#}
                        {#                            </a>#}
                        {#                        </div>#}
                        {#                        <div id="collapse-transaction" class="mt-3 collapse">#}
                        {#                            {{ weekly_post.post|safe }}#}
                        {#                        </div>#}
                        {{ weekly_post.post|safe }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="spinner-wrapper" class="d-none">
        <div class="loading">Loading&#8230;</div>
    </div>

    <script>
        if (localStorage.getItem("user_strava_refresh_token")) {
            $("#join-panel").hide();
        }

        function changeWeek() {
            let selectedWeek = document.getElementById("select-week").value;
            let newYear = selectedWeek.split("-")[0];
            let newWeekNum = selectedWeek.split("-")[1];
            location.replace("{% url 'leaderboard' %}?year=" + newYear + "&week=" + newWeekNum);
        }

        function showSpinner() {
            document.getElementById("spinner-wrapper").classList.remove("d-none");
        }

        function hideSpinner() {
            document.getElementById("spinner-wrapper").classList.add("d-none");
        }
    </script>

    <script>
        const MONTH_NAMES = [
            'January', 'February', 'March', 'April', 'May', 'June',
            'July', 'August', 'September', 'October', 'November', 'December'
        ];


        function getFormattedDate(date, preformattedDate = false, hideYear = false) {
            const day = date.getDate();
            {#const month = MONTH_NAMES[date.getMonth()];#}
            const month = date.getMonth() + 1;
            const year = date.getFullYear();
            const hours = date.getHours();
            let minutes = date.getMinutes();

            if (minutes < 10) {
                // Adding leading zero to minutes
                minutes = `0${minutes}`;
            }

            if (preformattedDate) {
                // Today at 10:20
                // Yesterday at 10:20
                return `${hours}:${minutes} ${preformattedDate}`;
            }

            if (hideYear) {
                // 10. January at 10:20
                return `${hours}:${minutes} ngày ${day}/${month}`;
            }

            // 10. January 2017. at 10:20
            return `${hours}:${minutes} ngày ${day}/${month}/${year}`;
        }


        // --- Main function
        function timeAgo(dateParam) {
            if (!dateParam) {
                return null;
            }

            const date = typeof dateParam === 'object' ? dateParam : new Date(dateParam);
            const DAY_IN_MS = 86400000; // 24 * 60 * 60 * 1000
            const today = new Date();
            const yesterday = new Date(today - DAY_IN_MS);
            const seconds = Math.round((today - date) / 1000);
            const minutes = Math.round(seconds / 60);
            const isToday = today.toDateString() === date.toDateString();
            const isYesterday = yesterday.toDateString() === date.toDateString();
            const isThisYear = today.getFullYear() === date.getFullYear();


            if (seconds < 5) {
                return 'ngay lúc này';
            } else if (seconds < 60) {
                return `${seconds} giây trước`;
            } else if (seconds < 90) {
                return 'khoảng 1 phút trước';
            } else if (minutes < 60) {
                return `${minutes} phút trước`;
            } else if (isToday) {
                return getFormattedDate(date, 'hôm nay'); // Today at 10:20
            } else if (isYesterday) {
                return getFormattedDate(date, 'hôm qua'); // Yesterday at 10:20
            } else if (isThisYear) {
                return getFormattedDate(date, false, true); // 10. January at 10:20
            }

            return getFormattedDate(date); // 10. January 2017. at 10:20
        }

        function updateLastUpdated() {
            let lastUpdated = document.getElementById("last-updated-time");
            lastUpdated.innerText = timeAgo(Date.parse("{{ last_updated|date:'Y-m-d H:i:sO' }}"));
        }

        // Update last updated time every second
        updateLastUpdated();
        setInterval(updateLastUpdated, 1000);

        // Reload page every 10 minutes
        setTimeout(function () {
            location.reload();
        }, 600000);
    </script>
{% endblock %}