{% extends "base.html" %}
{% load humanize %}
{% load track_custom_utils %}

{% block pagetitle %}Profile | Voz Running Club{% endblock %}

{% block body %}


    <div class="container my-4">
        {% if user.is_authenticated %}
            {% if messages %}
                <div class="alert alert-danger mb-4" role="alert">
                    {% for message in messages %}
                        <div><i class="fa-solid fa-triangle-exclamation"></i>
                            <span class="fw-bold">{{ message.tags|capfirst }}</span>: {{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="mb-4">
                <h4>Thống kê tuần này của bạn</h4>
                <div>
                    <ul>
                        <li>
                            <span class="fw-semibold">Lượt chạy:</span>
                            {{ weekly_progress.runs }}
                        </li>
                        <li>
                            <span class="fw-semibold">Quãng đường:</span>
                            {{ weekly_progress.distance|floatformat:1 }} km
                        </li>
                        <li>
                            <span class="fw-semibold">Cự ly đăng ký:</span>
                            {% if weekly_progress.registered_mileage.distance == 0 %}
                                Không đăng ký
                            {% else %}
                                {{ weekly_progress.registered_mileage.distance }} km
                            {% endif %}
                        </li>
                        <li>
                            <span class="fw-semibold">Số tiền sẽ ủng hộ:</span>
                            {% if weekly_progress.registered_mileage.distance == 0 %}
                                Không đăng ký
                            {% else %}
                                {{ weekly_progress.donation|intcomma }} ₫
                                {% if weekly_progress.donation == 0 %}
                                    <span class="fw-semibold">(đã xong)</span>
                                {% endif %}
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <p><span class="fw-semibold">Tổng số tiền ủng hộ (tính đến trước tuần này):</span>
                    {{ total_donation_till_now|intcomma }} ₫</p>
            </div>

            <div>
                <h4>Thông tin của bạn</h4>
                <div class="row my-4">
                    <label class="col-md-1 col-form-label fw-semibold" for="strava_name">
                        Strava
                    </label>
                    <div class="col-md-auto">
                        <input type="text" name="strava_name" id="strava_name" value="{{ user.get_full_name }}"
                               class="form-control" disabled>
                    </div>
                    {% if strava_connected %}
                        <span class="fw-semibold text-secondary col-form-label col-md-auto">
                            Đã kết nối <i class="fa-solid fa-check"></i>
                        </span>

                    {% else %}
                        <a class="fw-semibold text-strava text-decoration-none col-form-label col-md-auto"
                           href="{% url 'social:begin' 'strava' %}"
                           title="Connect with Strava">
                            Kết nối Strava <i class="fa-brands fa-strava"></i>
                        </a>
                    {% endif %}

                    {% if strava_club_joined %}
                        <span class="fw-semibold text-secondary col-form-label col-md-auto">
                                Đã tham gia Strava Club <i class="fa-solid fa-check"></i>
                            </span>
                    {% else %}
                        <a class="fw-semibold text-strava text-decoration-none col-form-label col-md-auto"
                           href="{{ strava_club_url }}"
                           target="_blank"
                           title="Join Voz Running Club on Strava">
                            Tham gia Strava Club <i class="fa-brands fa-strava"></i>
                        </a>
                    {% endif %}

                </div>

                <form id="profileForm">
                    <div class="row mb-3">
                        <label class="col-md-1 col-form-label fw-semibold" for="voz_name">Voz</label>
                        <div class="col-md-auto">
                            <input type="text" name="voz_name" id="voz_name" value="{{ user.profile.voz_name }}"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="text-center text-md-start">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                        <a class="btn btn-outline-secondary" href="{% url 'logout' %}">Đăng xuất</a>
                    </div>
                </form>
            </div>

            <div id="spinner-wrapper" class="d-none">
                <div class="loading">Loading&#8230;</div>
            </div>

            <script>
                axios.defaults.xsrfCookieName = 'csrftoken';
                axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

                function showSpinner() {
                    document.getElementById("spinner-wrapper").classList.remove("d-none");
                }

                function hideSpinner() {
                    document.getElementById("spinner-wrapper").classList.add("d-none");
                }

                document.getElementById("profileForm").onsubmit = async (e) => {
                    e.preventDefault();
                    showSpinner();
                    let formData = new FormData(document.getElementById("profileForm"));
                    axios.post(
                        "{% url 'update-profile' %}",
                        formData,
                        {
                            headers: {
                                "content-type": "multipart/form-data",
                            }
                        }).then(function (response) {
                        if (response.data.status === "success") {
                            alert("Updated successfully!");
                        } else {
                            alert("Error updating profile: " + response.data.message);
                        }
                    }).catch(function (error) {
                        alert("Error updating profile: " + error);
                    });
                    hideSpinner();
                };
            </script>
        {% else %}
            {% include "strava-connect.html" %}
        {% endif %}
    </div>
{% endblock %}