{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load tz %}
{% load track_custom_utils %}

{% block pagetitle %}Thống kê | Voz Running Club{% endblock %}

{% block body %}
    <div class="container mb-4">
        <div class="mb-5">
            <div class="mb-4">
                <h3>Thống kê toàn thời gian</h3>
            </div>
            <div class="mb-4">
                <ul>
                    <li>
                        <span class="fw-bold">Tổng số lượt chạy:</span>
                        <span>{{ all_time.runs|intcomma }}</span>
                    </li>
                    <li>
                        <span class="fw-bold">Tổng quãng đường:</span>
                        <span>{{ all_time.distance|floatformat:"1g" }}km</span>
                    </li>
                    <li>
                        <span class="fw-bold">Tổng số tiền đã đóng góp:</span>
                        <span>{{ all_time.actual_donation|intcomma }}₫</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="mb-5 chart-container">
            <canvas id="chart"></canvas>
        </div>

        <div class="leaderboard-table-wrapper">
            <table class="leaderboard-table">
                <thead>
                <tr>
                    <th scope="col">Thời gian</th>
                    <th scope="col" class="text-end">Runners</th>
                    <th scope="col" class="text-end">Chạy</th>
                    <th scope="col" class="text-end">Q/đường</th>
                    <th scope="col" class="text-end">Đ/ký</th>
                    <th scope="col" class="text-end">Xong</th>
                    <th scope="col" class="text-end">Ước tính</th>
                    <th scope="col" class="text-end">Đã đ/góp</th>
                    <th scope="col" class="text-end">Chênh</th>
                    <th scope="col" class="text-end">Chi tiết</th>
                </tr>
                </thead>
                <tbody>
                {% for ws in week_summaries %}
                    <tr>
                        <td>{{ ws.time }}</td>
                        <td class="text-end">{{ ws.runners }}</td>
                        <td class="text-end">{{ ws.runs }}</td>
                        <td class="text-end">
                            {{ ws.distance|floatformat:1 }}km
                            {#                            <span class="text-start d-none d-md-inline">km</span>#}
                        </td>
                        <td class="text-end">{{ ws.registrations }}</td>
                        <td class="text-end">{{ ws.completed }}</td>
                        <td class="text-end">
                            {{ ws.donation|intcomma }}₫
                            {#                            <span class="text-start d-none d-md-inline">₫</span>#}
                        </td>
                        <td class="text-end">
                            {% if ws.actual_donation > 0 %}
                                {{ ws.actual_donation|intcomma:0 }}₫
                                {#                                <span class="text-start d-none d-md-inline">₫</span>#}
                            {% else %}
                                --
                            {% endif %}
                        </td>
                        <td class="text-end">
                            {% if ws.donation_diff > 0 %}
                                <span class="text-success">
                                    +{{ ws.donation_diff|intcomma:0 }}₫
{#                                    <span class="text-start d-none d-md-inline">₫</span>#}
                                </span>
                            {% elif ws.donation_diff < 0 %}
                                <span class="text-danger">
                                    {{ ws.donation_diff|intcomma:0 }}₫
{#                                    <span class="text-start d-none d-md-inline">₫</span>#}
                                </span>
                            {% else %}
                                <span class="text-muted">--</span>
                            {% endif %}
                        </td>
                        <td class="text-end">
                            <a href="{% url 'leaderboard' %}?year={{ ws.year }}&week={{ ws.week_num }}">Xem</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        const allData = JSON.parse("{{ week_summaries_json|escapejs }}");
    </script>

    <script src="{% static 'js/chart.umd.js' %}"></script>

    <script>
        Chart.defaults.color = getComputedStyle(document.documentElement).getPropertyValue("--bs-secondary");
        Chart.defaults.borderColor = getComputedStyle(document.documentElement).getPropertyValue("--bs-light");
        const ctx = document.getElementById("chart");
        const chart = new Chart(ctx, {
            type: "line",
            data: {
                labels: allData.map((d) => d.week_num + "/" + d.year),
                datasets: [
                    {
                        label: "Quãng đường",
                        data: allData.map((d) => d.distance),
                        yAxisID: 'y',
                        fill: false,
                        cubicInterpolationMode: 'monotone',
                        tension: 0.4,
                    },
                    {
                        label: "Đã đóng góp",
                        // cumulative sum of actual_donation
                        data: allData.map((d, i) => allData.slice(0, i + 1).reduce((a, b) => a + b.actual_donation, 0)),
                        yAxisID: 'y1',
                        fill: false,
                        cubicInterpolationMode: 'monotone',
                        tension: 0.4,
                    }
                ]
            },
            options: {
                color: getComputedStyle(document.documentElement).getPropertyValue("--bs-secondary"),
                responsive: true,
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                stacked: false,
                plugins: {
                    title: {
                        display: false,
                        text: 'Chart.js Line Chart - Multi Axis'
                    }
                },
                scales: {
                    y: {
                        type: 'linear',
                        display: true,
                        position: 'left',
                        title: {
                            text: 'Quãng đường',
                            display: false,
                        },
                        ticks: {
                            callback: function (value, index, values) {
                                return value.toLocaleString() + ' km';
                            },
                        }
                    },
                    y1: {
                        type: 'linear',
                        display: true,
                        position: 'right',

                        // grid line settings
                        grid: {
                            drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                        title: {
                            text: 'Đã đóng góp',
                            display: false,
                        },

                        ticks: {
                            callback: function (value, index, values) {
                                return value.toLocaleString() + ' ₫';
                            },
                        }
                    },
                }
            },
        });
    </script>
{% endblock %}