@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Default variable overrides
$font-family-sans-serif: 'Be Vietnam Pro', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// stylelint-enable value-keyword-case

$primary: #555395;
$primary-text-emphasis-dark: #8582ea;

$light: #e1e3e8;
$border-color: #c4c4c4;

$strava-orange: #fc4c02;
$strava-orange-dark: #e63a00;

$body-bg-color-light: #f7f7f8;
$body-bg-color-dark: #212121;

$navbar-bg-color-light: #fff;
$navbar-bg-color-dark: #121212;

$table-header-bg-color-dark: #2F3034;
$table-bg-color-dark: #121212;

@import "bootstrap/bootstrap";

body {
  overflow-y: scroll; /* Show vertical scrollbar */
  background: $body-bg-color-light;
}

@include color-mode(dark) {
  body {
    background: $body-bg-color-dark;
  }

  .my-navbar-container {
    background: $navbar-bg-color-dark;
  }

  #main-content {
    .text-primary {
      color: $primary-text-emphasis-dark !important;
    }

    .text-secondary {
      color: $secondary-text-emphasis-dark !important;
    }
  }
}

.text-strava {
  color: $strava-orange;
}

.btn-strava {
  color: $white;
  background-color: $strava-orange;
  border-color: $strava-orange;
}

.btn-strava:hover {
  color: $white;
  background-color: $strava-orange-dark;
  border-color: $strava-orange-dark;
}

.small-caps {
  font-variant: small-caps;
}

.my-navbar-container {
  background: $navbar-bg-color-light;
  padding: 1.375em 0;
  border-bottom: 1px solid $border-color;

  position: fixed;
  top: 0;
  width: 100%;

  z-index: 500;

  nav.my-navbar {
    position: relative;

    .nav-items {
      text-align: center;
    }

    .nav-item-link {
      color: $secondary;
      text-decoration: none;
      padding: 0.25rem 0.5rem;
      margin: 0 0.25rem;

      [data-bs-theme=dark] & {
        color: $secondary-text-emphasis-dark;
      }
    }

    .nav-home {
      font-size: 1.25rem;
      font-weight: bold;
      font-variant: small-caps;
      position: absolute;
      left: 2%;
      top: -.25rem;
    }

    .nav-logout, .nav-login {
      position: absolute;
      right: 3%;
      top: 0;

      .nav-item-link {
        border-radius: 0.375rem;
        padding: 0.375rem 0.75rem;

        [data-bs-theme=dark] & {
          color: $secondary;
        }
      }

      .nav-item-link.theme-btn {
        color: $secondary;
        background: none;

        &:hover {
          color: $primary !important;
          background: none;
        }

        [data-bs-theme=dark] & {
          color: $secondary-text-emphasis-dark;
          background: $navbar-bg-color-dark;

          &:hover {
            background: $navbar-bg-color-dark;
            color: $primary-text-emphasis-dark !important
          }
        }
      }
    }

    .nav-logout .nav-item-link {
      background: $light;

      [data-bs-theme=dark] & {
        color: $light;
        background: $light-bg-subtle-dark;
      }
    }

    .nav-login .nav-item-link {
      background: $strava-orange;
      color: $white;

      &:hover {
        color: $white !important;
        background: $strava-orange-dark;
      }

      &.selected {
        font-weight: normal;
        color: $white !important;
        background: $strava-orange;
      }

      [data-bs-theme=dark] & {
        color: $white;
      }
    }

    .nav-item-link.selected, .nav-item-link:hover {
      @extend .text-primary;
    }

    [data-bs-theme=dark] & {
      .nav-item-link.selected, .nav-item-link:hover {
        color: $primary-text-emphasis-dark;
      }
    }

    .nav-item-link.selected {
      font-weight: 600;
    }

    .bars {
      display: none;
    }
  }
}

@include media-breakpoint-down(md) {
  .my-navbar-container {
    padding-bottom: 0.75rem;

    nav.my-navbar {
      .nav-home {
        position: relative;
        left: 0;
      }

      .bars {
        display: block;
        position: absolute;
        right: 0.75rem;
        top: -0.5rem;
        cursor: pointer;
        background: $light;
        padding: 0.25rem 0.5rem;
        border-radius: 0.375rem;
        font-size: 1.25rem;
        color: $primary;
      }

      [data-bs-theme=dark] & .bars {
        color: $primary-text-emphasis-dark;
        background: $navbar-bg-color-dark;
      }

      .nav-items, .nav-logout, .nav-login {
        display: none;
      }
    }

    nav.my-navbar.responsive {
      .nav-items, .nav-logout, .nav-login {
        display: block;
        position: relative;
        left: 0;

        transition: filter 1s linear 0s;

        .nav-item-link {
          display: block;
          float: none;
          text-align: center;
          background: $light;
          border-radius: 0.375rem;
          margin: 0.5rem;
          transition: filter 1s linear 0s;
          color: $secondary;
          padding: 0.25rem 0.5rem;

          &.selected, &:hover {
            font-weight: 600;
            color: $primary !important;
          }
        }

        [data-bs-theme=dark] & {
          .nav-item-link {
            background: $navbar-bg-color-dark;
            color: $secondary-text-emphasis-dark;

            &.selected, &:hover {
              color: $primary-text-emphasis-dark !important;
            }
          }
        }
      }

      .nav-login, .nav-logout {
        .nav-item-link.theme-btn {
          background: $light;

          [data-bs-theme=dark] & {
            background: $navbar-bg-color-dark;
          }
        }
      }
    }
  }
}

//img.nav-logo {
//  display: block;
//  margin-left: auto;
//  margin-right: auto;
//  height: 5rem;
//  margin-bottom: 1rem;
//}

//hr.big-hr {
//  border: 1px solid $primary;
//  margin: 0.5rem 0;
//  opacity: 100%;
//}

.big-search-container {
  text-align: center;

  form {
    width: 512px;
    max-width: 100%;
    display: inline-block;
  }
}

.big-search-container.text-left {
  text-align: left !important;
}

/* LOADING spinner */
/* Absolute Center CSS Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  /*font: 0/0 a;*/
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Leaderboard Results */
.leaderboard-table-wrapper {
  border: 1px solid $border-color;
  border-radius: 0.375em;
  overflow: auto;

  &.limit-height {
    max-height: 600px;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }


  .leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    thead {
      background-color: $light;
      border-bottom: 1px solid $border-color;

      th {
        font-weight: bold;
        padding: 0.8em 1em;
      }
    }

    tbody {
      tr {
        background: white;
        border-bottom: 1px solid $border-color;
        transition: all 0.3s ease;

        &:hover {
          background: $light;
        }

        [data-bs-theme="dark"] & {
          &:hover {
            background: $table-header-bg-color-dark;
          }
        }
      }

      tr.focused-row {
        background: $light;
      }

      [data-bs-theme="dark"] & tr.focused-row {
        background: $table-header-bg-color-dark;
      }

      tr:last-child {
        border-bottom: none;
      }

      td {
        padding: 0.8em 1em;
      }

      .voz-name, .pace, .runs {
        @extend .text-secondary;
      }

      .voz-name, .pace, .runs, .rank-change, .missing-km {
        font-size: 0.75rem;
      }

    }

    .rank {
      text-align: center;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5em;
      border-radius: 50%;
    }

    .rank-1, .rank-2, .rank-3 {
      color: #fff;
    }

    .rank-1 {
      background-color: #e6c200;
    }

    .rank-2 {
      background-color: #b4b9c5;
    }

    .rank-3 {
      background-color: #a46628;
    }
  }
}

@include color-mode(dark) {
  .leaderboard-table-wrapper {
    thead {
      th {
        background: $table-header-bg-color-dark;
      }
    }

    tbody {
      tr {
        background: $table-bg-color-dark;
      }
    }
  }
}

/* /end Leaderboard Results */

.table-show-all-wrapper {
  position: absolute;
  top: 85%;
  left: 0;
  right: 0;
  height: 15%;
  cursor: pointer;
  z-index: 100;
  background: linear-gradient(to bottom, rgba(102, 102, 102, 0) 0%, rgba(102, 102, 102, 1) 100%);
  border-radius: 0 0 0.375em 0.375em;
  border: 1px solid $border-color;
  border-top: none;

  .show-all-btn {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend .text-warning;
    text-decoration: none;
  }

  [data-bs-theme="dark"] & {
    background: linear-gradient(to bottom, rgba(153, 153, 153, 0) 0%, rgba(153, 153, 153, 1) 100%);
  }
}

.statistic-box {
  background-color: $light;
  border-radius: 0.375em;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;

  .statistic-title {
    font-size: 0.875em;
  }

  .statistic-value {
    font-size: 1.375em;
    font-weight: bold;
    @extend .text-primary;
  }

  [data-bs-theme="dark"] & {
    background-color: $table-bg-color-dark;
  }
}

.weekly-post {
  img {
    width: 100%;
  }
}

img.strava-logo {
  max-width: 100%;
  height: 3rem;
}

.chart-container {
  width: 800px;
  max-width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;

  &.chart-container-sm {
    width: 600px;
  }
}