{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static 'img/logo-voz.svg' %}"/>
    <link rel="apple-touch-icon" href="{% static 'img/logo-voz.svg' %}"/>

    <title>{% block pagetitle %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/all.css' %}">

    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
</head>
<body>

<div class="my-navbar-container">
    <nav class="my-navbar">
        <div>
            <div class="nav-home">
                <a href="{% url 'index' %}" title="Voz Running Club">
                    {% include 'logo-voz.svg' %}
                </a>
            </div>
            <div class=" nav-items">
                <a href="{% url 'leaderboard' %}"
                   class="nav-item-link{% if request.resolver_match.url_name == 'leaderboard' %} selected{% endif %}">
                    Xếp hạng</a>
                <a href="{% url 'statistics' %}"
                   class="nav-item-link{% if request.resolver_match.url_name == 'statistics' %} selected{% endif %}">
                    Thống kê</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'registration' %}"
                       class="nav-item-link{% if request.resolver_match.url_name == 'registration' %} selected{% endif %}">
                        Đăng ký</a>
                    <a href="{% url 'profile' %}"
                       class="nav-item-link{% if request.resolver_match.url_name == 'profile' %} selected{% endif %}">
                        Hồ sơ</a>
                {% endif %}
            </div>

            {% if request.user.is_authenticated %}
                <div class="nav-logout">
                    <a href="{% url 'logout' %}" class="nav-item-link">
                        Đăng xuất
                    </a>
                    <a href="javascript:void(0);" id="toggle-theme" class="nav-item-link theme-btn"
                       onclick="toggleTheme();">
                    </a>
                </div>
            {% else %}
                <div class="nav-login">
                    <a href="{% url 'registration' %}"
                       class="nav-item-link{% if request.resolver_match.url_name == 'registration' %} selected{% endif %}">
                        Đăng ký
                    </a>
                    <a href="javascript:void(0);" id="toggle-theme" class="nav-item-link theme-btn"
                       onclick="toggleTheme();">
                    </a>
                </div>
            {% endif %}

            <div class="bars">
                <a href="javascript:void(0);" onclick="toggleNavbar();">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </div>
        </div>
    </nav>
</div>

<script>
    function toggleNavbar() {
        let navbar = document.getElementsByClassName("my-navbar")[0];
        if (navbar.classList.contains("responsive")) {
            navbar.classList.remove("responsive");
        } else {
            navbar.classList.add("responsive");
        }
    }
</script>

<div class="py-5">
</div>

<div id="main-content">
    {% block body %}{% endblock %}
</div>

<script>
    const getStoredTheme = () => localStorage.getItem('theme');
    const setStoredTheme = theme => localStorage.setItem('theme', theme);

    const getPreferredTheme = () => {
        const storedTheme = getStoredTheme();
        if (storedTheme) {
            return storedTheme;
        }

        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    }

    const setTheme = theme => {
        document.documentElement.setAttribute('data-bs-theme', theme);
        setStoredTheme(theme);

        const toggleThemeButton = document.getElementById('toggle-theme');
        toggleThemeButton.innerHTML = theme === 'dark' ? '<i class="fa-solid fa-sun"></i>' : '<i class="fa-solid fa-moon"></i>';
        toggleThemeButton.title = theme === 'dark' ? 'Chế độ sáng' : 'Chế độ tối';
    }

    setTheme(getPreferredTheme());
</script>

<script>
    const toggleTheme = () => {
        const currentTheme = document.documentElement.getAttribute('data-bs-theme');
        const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
        setTheme(newTheme);
    }
</script>

<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>