{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static 'img/favicon-white.png' %}"/>

    <title>{% block pagetitle %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/all.css' %}">

    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
</head>
<body>

<div class="container mt-3 mb-4">
    <div>
        <div>
            <a href="{% url 'index' %}">
                <img src="{% static 'img/logo-color.png' %}" alt="logo" class="nav-logo">
            </a>
        </div>

        <div class="my-3 text-center">
            <nav class="my-navbar">
                <div>
                    <div class="nav-items">
                        <a href="{% url 'leaderboard' %}"
                           class="nav-item-link{% if request.resolver_match.url_name == 'leaderboard' %} selected{% endif %}">
                            Xếp hạng
                        </a>
                        <a href="{% url 'statistics' %}"
                           class="nav-item-link{% if request.resolver_match.url_name == 'statistics' %} selected{% endif %}">
                            Thống kê
                        </a>
                        <a href="{% url 'registration' %}"
                           class="nav-item-link{% if request.resolver_match.url_name == 'registration' %} selected{% endif %}">
                            Đăng ký
                        </a>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'profile' %}"
                               class="nav-item-link{% if request.resolver_match.url_name == 'profile' %} selected{% endif %}">
                                Hồ sơ
                            </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <hr class="big-hr">
        </div>
    </div>
</div>

{% block body %}{% endblock %}

<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>